[tool.poetry]
name = "cyberbrain"
version = "0.0.1"
description = "A Cyberbrain that helps you remember everything."
authors = ["laike9m <laike9m@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6.7"
bytecode = "^0.8.0"
uncompyle6 = { git = "https://github.com/rocky/python-uncompyle6.git", branch = "master" }
crayons = "^0.2.0"
astor = "^0.8.0"
deepdiff = "^4.0"
dataclasses = "^0.6.0"
graphviz = "^0.11.1"
absl-py = "^0.7.1"
black = {version = "*", allows-prereleases = true}

[tool.poetry.dev-dependencies]
pytest = "^4.6"
tox = "^3.13"
tox-run-command = "^0.4.0"
tox-pyenv = "^1.1"
pyhamcrest = "^1.9"
astpretty = "^1.6"
pytest-parallel = "^0.0.9"
pytype = "^2019.7"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
